/*Обнуление*/
@import url('http://fonts.cdnfonts.com/css/corbel');
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
html{
		scroll-behavior: smooth;
}
body{
	font-size: 16px;
	font-family: 'Arial';
}
.wrapper {
	min-height: 100vh;
	max-width: 100%;
	overflow: hidden;
	background-color: #10171f;
	color: white;
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
}
/* Header styles */
.head {
	font-size: 18px;
	padding: 30px 0px;
	background-color: #313233eb;
	color: white;
	flex: 0 1 auto;
	border-bottom: 1px solid #6dce0e;
}
.head__contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.number{
	font-weight: bold;
	display: block;
	color: white;
}
.head__numbers {}
.head__company {}
.head__mail {}
.head__mail a{
	color: white;
}
.head__address {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.head__location {}
.head__button {}
.head__menu {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.head__menu_punct {
	border: 1px solid #6dce0e;
	border-radius: 50px;
	padding: 10px 20px;
}
.head__navmenu {
	flex: 0 1 60%;
	display: flex;
	justify-content: space-between;
}
.head__socials {
	display: flex;
}
.social__media {
	margin-right: 10px;
}
.open-button {
  background-color: #9fe831;
  font-size: 16px;
  color: black;
  padding: 12px 14px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
 /* position: fixed;
  bottom: 23px;
  right: 28px;*/
  width: 230px;
  border-radius: 40px;
}

/* Всплывающая форма-скрыта по умолчанию */
.form-popup {
	  display: none;
	  position: fixed;
	  bottom: 0;
	  right: 15px;
	  border: 3px solid #f1f1f1;
	  z-index: 9;
}

/* Добавить стили для контейнера формы */
.form-container {
	  max-width: 300px;
	  padding: 10px;
	  background-color: white;
}

/* Поля ввода полной ширины */
.form-container input[type=text], .form-container input[type=tel] {
	  width: 100%;
	  padding: 15px;
	  margin: 5px 0 22px 0;
	  border: none;
	  background: #f1f1f1;
}

/* Когда входы получают фокус, сделайте что-нибудь */
.form-container input[type=text]:focus, .form-container input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
}

/* Установите стиль для кнопки отправить/войти */
.form-container .btn {
	  background-color: #4CAF50;
	  color: white;
	  padding: 16px 20px;
	  border: none;
	  cursor: pointer;
	  width: 100%;
	  margin-bottom:10px;
	  opacity: 0.8;
}

/* Добавить красный цвет фона для кнопки "Отмена" */
.form-container .cancel {
  	background-color: red;
}

/* Добавить некоторые эффекты наведения на кнопки */
.form-container .btn:hover, .open-button:hover {
  	opacity: 1;
}
.form-color {
	color: black;
}
/* Header styles end */
/* about Main */
.container{
	width: 80%;
	margin: 0px auto;
}
.about{
	margin-top: 100px;
	margin-bottom: 120px;

}
.title {
	font-size: 34px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 100px;
}
.about__main__block{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.about__title{
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 30px;
	line-height: 30px;
	display: flex;
	justify-content: center;
}
.about__textblock{
	padding: 0px 0px;
	padding-right: 20px;
	flex: 1 1 40%;
}
.about__image{
	text-align: center;
	margin-right: 40px;
	flex: 1 1 35%;
	min-height: 100%;
	border: 1px solid #6dce0e;
	border-radius: 10px;

}
.about__image img {
	width: 100%;
	min-height: 100%;
	border-radius: 10px;
}
.about__description{
	padding-left: 100px;
	margin-bottom: 25px;
	font-size: 24px;
	color: #6dce0e;

}
.about__button{
	margin-top: 25px;
	text-align: center;
}
.priority{
	padding: 18px;
	border: 1px solid #6dce0e;
	background: white;
	color: black;
	border-radius: 20px;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 15px;
	transition: background 0.3s linear;
}
.priority:hover{
	color: white;
	background: #0b1803;
	border: 1px solid #0b1803;
}
.priority:before{
  	content: '✓';
  	position: relative;
  	top: 2px;
}
/* about main end */
/* akif */
.akif{
	margin-top: 60px;
}
.akif__title{
	text-align: center;
	margin-bottom: 10px;
	font-size: 28px;
	font-weight: bold;
}
.akif__descript{
	text-align: justify;
	font-size: 21px;
	padding-left: 20px;
	line-height: 28px;
}
.akif__info{
	display: flex;
	-webkit-box-shadow: 0px 0px 18px 18px rgba(255, 255, 255, 0.4);
	-moz-box-shadow: 0px 0px 18px 18px rgba(255, 255, 255, 0.4);
	box-shadow: 0px 0px 16px 16px rgba(255, 255, 255, 0.4);
	border-radius: 90px;
	padding: 30px;
}
.akif__imageblock{

}
.akif__center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.akif__photo{
	width: 300px;
	height: 300px;
	border: 1px solid black;
	border-radius: 50%;
	display: flex;
	align-items: center;
	color: black;
	justify-content: center;
	margin-bottom: 25px;
	background: white;
}
.akif__photo img{
}
.akif__description{
	text-align: center;
}

.akif__image{
	text-align: center;
	flex:1 1 50%;
}
.akif__image img{
	width: 100%;
}
.akif__button{
	text-align: center;
	padding-top: 40px;

}
/* akif end */
/* why */
.why{
	margin-top: 130px;
}

.why__main__block{
	display: flex;
	align-items: center;
	margin-top: 30px;
	justify-content: space-between;
}
.why__title{
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 30px;
	line-height: 30px;
	text-align: center;

}
.why__blocks{

}

.why__block{
	display: flex;
	margin-bottom: 85px;
}
.why__block:last-child{
	margin-bottom: 30px;
}
.why__image{
	flex: 1 1 40%;
	text-align: center;
	margin-bottom: 25px;
	border: 1px solid #6dce0e;
	border-radius: 10px;
	height: 350px;
}
.why__image img{
	border-radius: 10px;
	object-fit: cover;
	height: 100%;
	width: 100%;
}
.why__textblock{
	font-size: 22px;
	flex: 1 1 60%;
	padding: 40px;
	text-align: justify;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #6dce0e;
	margin: 40px 0px;
	background: white;
	color: black;
}
.left{
	border-radius: 15px 0px 0px 15px;
}
.right{
	border-radius: 0px 15px 15px 0px;
}
.why__block img{
	height: 100%;
	width: 100%;
	font-family: serif;
}
.why__texttitle{
	padding-bottom: 20px;
	color: #6dce0e;
	font-weight: bold;
	font-size: 27px;
}
.why__bigtext{
	font-size: 64px;
	font-weight: bolder;
	-webkit-text-stroke:2px #6dce0e;
	color: transparent;
}
.first__question{
	position: relative;
	top: 90px;
	left: 280px;
}
.why__wrapper{
	display: flex;
	justify-content: center;
}
.why__answer{
	background: white;
	border-radius: 40px;
	color: black;
	width: 40%;
	margin-top: 30px;
	padding: 15px;
	font-size: 20px;
	text-align: justify;
	line-height: 29px;
	text-align: center;
}
.why__answer:after{
 	content: '';
	background-image: url('../img/down-arrow.svg');
	background-size: cover;
	padding-left: 10px;
	margin-left: 10px;
	padding-right: 10px;
	background-repeat: no-repeat
}
/* why end */
/* main */
.main {
	text-align: center;
	margin-top: 140px;

}
.main .container {
	border-radius: 15%;
	padding: 35px;
	padding-top: 50px;
-webkit-box-shadow: 0px 0px 18px 18px rgba(255, 255, 255, 0.4);
-moz-box-shadow: 0px 0px 18px 18px rgba(255, 255, 255, 0.4);
box-shadow: 0px 0px 16px 16px rgba(255, 255, 255, 0.4);
}
.main__general{
	display: flex;
	align-items: center;
}
.bold{
	font-weight: bold;
}
.main__title{
	width: 90%;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 30px;
	flex: 1 1 50%;
	margin-right: auto;
	margin-left: auto;
	text-align: justify;

}
.main__image{
	flex: 1 1 50%;
	margin-bottom: 30px;
	border-radius: 10px;
	border: 1px solid #6dce0e;
}
.main__image img {
	width: 100%;
	border-radius: 10px;
}
.right{
	padding-right: 20px;
}
.left{
	padding-left: 20px;
}
.main__button{
}
.white{
	width: 100%;
	height: 300px;
	border: 2px solid white;
}
/* main end */
.center{
	text-align: center !important;
	line-height: 30px;
}
.big{
	font-size: 26px;
}
.lime {
	color: #6dce0e !important;
}

/*footer*/
.foot{
	border-top: 1px solid #6dce0e;
	display: flex;
	align-items: center;
	background-color: #313233eb;
	color: white;
	flex: 0 1 auto;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 60px;
	font-size: 18px;
}
.foot .number{
	display: inline-block;
}
/*.foot__textblock{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.foot__text{
	text-align: center;
	line-height: 25px;
}
.foot .head__menu {
	margin-top: 0px;
	margin-bottom: 30px;
}*/
.decor{
	text-decoration: underline;
	text-decoration-color: #6dce0e;
	text-decoration-thickness: 6px;
}
.foot .container{
	display: flex;
	width: 90%;
	justify-content: space-between;
}
.foot__block{
	padding: 20px;
	margin: 10px;
	flex: 0 1 25%;

}
.foot__logo{

}
.foot__info{
	text-align: justify;
	line-height: 30px;
}
.foot__nav {

}
.foot__menu {

}
.foot__title {
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 25px;
}
.foot__navmenu {

}
.foot__punct{
	padding-bottom: 30px;

}
.foot__punct:before {
	content: '';
	background-image: url('../img/right-arrow.svg');
	background-size: cover;
	padding-right: 10px;
	margin-right: 10px;
	padding-left: 10px;
	background-repeat: no-repeat

}
.foot__contacts{

}
.big {
	font-size: 28px;
}
.foot__map{
	border: 1px solid #6dce0e;
}
.foot__address{
	padding-bottom: 18px;
	font-size: 16px;
	font-weight: 400;
}
.foot__address:before{
	content: '';
	background-image: url('../img/location.svg');
	background-size: cover;
	padding-right: 13px;
	padding-top: 10px;
	margin-right: 10px;
	padding-left: 10px;
	background-repeat: no-repeat
}
.foot__number{
	padding-bottom: 18px;
}
.foot__number:before{
	content: '';
	background-image: url('../img/phone.svg');
	background-size: cover;
	padding-right: 10px;
	margin-right: 10px;
	padding-left: 10px;
	background-repeat: no-repeat
}
.foot__email a{
	color: white;
}
.cont {
	flex: 1 1 35%;
}
.foot__email:before{
	content: '';
	background-image: url('../img/email.svg');
	background-size: cover;
	padding-right: 10px;
	margin-right: 10px;
	padding-left: 10px;
	background-repeat: no-repeat
}
/* footer end */
/* review */
.review{
	margin: 150px 0px;
	margin-bottom: 120px;
}
/*.review .container{
	border: 5px solid transparent;
  	border-image: linear-gradient(to left top,#6dce0e 10%,  transparent 30%, transparent 70%, #6dce0e 90%);
 	border-image-slice: 1;
	border-radius: 10px;
}*/
.review .container:before{
	content:'';
	background: url('../img/leftquote.svg');
	padding: 50px 60px;
	background-size: cover;

}
.review .container:after{
	content:'';
	background: url('../img/rightquote.svg');
	padding: 50px 60px;
	position: relative;
	left: 90%;
	background-size: cover;
}
.review__info{
	display: flex;
	padding: 60px 70px;

}
.review__description{
	font-size: 24px;
	margin-top: 20px;
}
.review__image{
	margin-bottom: 20px;
	height: 200px;
	width: 200px;
}
.review__image img{
	object-fit: cover;
	height: 100%;
	width: 100%;
}
   .slider__container {
    padding-left: 0;
    padding-right: 0;
    }

    .slider__items {
    counter-reset: slide;
    }

    .slider__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      counter-increment: slide;
      position: relative;
    }

    .slider__item::before {
    content: counter(slide) "/3";
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
    display: block;
    }

/* review end */
/* infoblock */
.infoblock {
	margin-top: 120px;
	background: url('../img/backs.jpg');
	background-repeat: no-repeat;
}
.infoblock__title {
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	line-height: 35px;
	margin-bottom: 35px;

}
.infoblock__table{
	display: flex;
	justify-content: center;

}
table {
	border: 1px solid white;
	border-collapse: collapse;
}
th {
	border: 1px solid white;
	padding: 9px;
}
tr {
	border: 1px solid white;

}
td {
	border: 1px solid white;
	padding: 9px;
}
.infoblock__certificate{
	display: flex;
	margin-top: 30px;
	padding: 0 70px;
	justify-content: center;

}
.infoblock__image {
	margin-top: 20px;
	border: 1px solid #6dce0e;
}
.infoblock__image img{
	width: 100%;
	height: 400px;
}

.second {
	margin-left: 10px;
}
.infoblock__text{
	flex: 1 1 auto;
	font-size: 20px;
	line-height: 30px;
	text-align: justify;

}
.infoblock__textblock{
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}
.infoblock__textblock .infoblock__title{
	margin-bottom: 15px;
}
.infoblock__button{
	flex: 0 1 auto;
	text-align: center;
}
/* infoblock end */

/* company block */
.company{
	margin-top: 150px;

}
.company__main{
	display: flex;
	justify-content: center;

}
.company__textblock{
	flex: 1 1 60%;
	display: flex;
	flex-direction: column;
	padding: 0 20px;

}
.company__texts{
	flex: 1 1 auto;
}
.company__title{
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	line-height: 35px;
	margin-bottom: 15px;
}
.company__text{
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
}
.company__button{
	flex: 0 1 auto;
	text-align: center;
	margin-top: 20px;
}
.company__image{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
	border-radius: 60px;
	flex: 1 1 45%;
	height: 400px;
}


/* company block end */
/* advert */
.advert{
	margin-top: 80px;
}
.advert__title{
	text-align: center;
	font-size: 34px;
	font-weight: bold;
	padding: 0 60px;

}
.advert__main{
	padding: 20px;

}
.advert__block{
	display: flex;
	margin-bottom: 20px;

}
.advert__text{
	font-size: 24px;
	flex: 1 1 auto;
	line-height: 30px;

}
.advert__textimage{
	height: 430px;
	flex: 1 1 46%;
	border-radius: 20px;
	display: flex;
	align-items: center;
	color: black;
	justify-content: center;
	font-size: 24px;
	border: 1px solid #6dce0e;
}
.advert__textimage img{
	width: 100%;
	height: 100%;
	border-radius: 20px;
	object-fit: cover;
}
.advert__obr{
	padding-top: 15px;
	font-size: 28px;
}
.advert__image{
	border: 1px solid #6dce0e;
	width: 50%;
	margin: 20px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	color: black;
	justify-content: center;
	font-size: 24px;
}
.advert__image img{
	width: 100%;
	border-radius: 20px;
}
.advert__image:last-child{
	margin-right: 0px;
}
.advert__texts{
	flex: 1 1 50%;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
}
.advert__button{
	flex: 0 1 auto;
	text-align: center;

}
.advert__number {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 20px;
	}
.clearfix:before,
.clearfix:after {
	content: " ";
	  /* 1 */
	display: table;
	  /* 2 */
}

.clearfix:after {
  	clear: both;
}
.viz {
	opacity: 1;
	transition: 1s;
}
.bl {
	  margin: 0 15px;
	  padding: 20px;
}


/* advert end */
/* eldar */
.eldar__title{
	text-align: justify;
	font-size: 28px;
	line-height: 35px;
	margin-bottom: 15px;
	padding-top: 15px;
}
.eldar__main{
	display: flex;
	justify-content: center;
	align-items: center;

}
.eldar__textblock{
	flex: 1 1 60%;
	display: flex;
	flex-direction: column;
	padding: 0 20px;

}
.eldar__texts{
}
.eldar__title{
	text-align: justify;
	font-size: 28px;
	line-height: 35px;
	margin-bottom: 15px;
}
.eldar__text{
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
}
.eldar__button{
	text-align: center;
	margin-top: 20px;
}
.eldar__image{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
	border-radius: 60px;
	flex: 1 1 45%;
	height: 400px;
}


/* eldar end */

/* teleg */
.teleg {
	margin-top: 270px;
	margin-bottom: 150px;
}
.teleg .container{
	width: 65%;
}
.teleg__main {
	display: flex;
	justify-content: center;
}
.teleg__textblock{
	flex: 1 1 50%;
	display: flex;
	padding: 20px;
	padding-right: 10px;
	border: 1px solid #6dce0e ;
	background: url('../img/image.jpg');
}
.teleg__text{
	font-size: 32px;
	line-height: 35px;
	position: relative;
	top: -210px;
	left: 70px;
}
.gigantic{
	font-size: 40px;
}
.notgigantic{
	font-size: 38px;
}
.teleg__image {
	flex: 1 1 50%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	left: -60px;
	top: 50px;
	z-index: 2;
}
.teleg #myForm {
	width: 100%;
}
.teleg .form-container {
	  min-width: 100% !important;
	  padding: 35px;
	  background-color: white;
	  border-radius: 15px;
	  border: 1.5px solid #6dce0e;
}

/* Поля ввода полной ширины */
.teleg .form-container input[type=text], .form-container input[type=tel] {
	  width: 100%;
	  padding: 15px;
	  margin: 5px 0 5px 0;
	  border: none;
	  background: #f1f1f1;
	  border-radius: 10px;
}

/* Когда входы получают фокус, сделайте что-нибудь */
.teleg .form-container input[type=text]:focus, .form-container input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
}

/* Установите стиль для кнопки отправить/войти */
.teleg .form-container .btn {
	  background-color: #4CAF50;
	  color: white;
	  padding: 16px 20px;
	  border: none;
	  cursor: pointer;
	  width: 100%;
	  margin-bottom:10px;
	  opacity: 0.8;
	  border-radius: 10px;
	  margin-top: 10px;
}


/* Добавить некоторые эффекты наведения на кнопки */
.teleg .form-container .btn:hover, .open-button:hover {
  	opacity: 1;
}
.teleg .form-color {
	color: black;
	font-size: 25px;
	padding-bottom: 10px;
}

/* teleg end */
.why__answer a{
	color: black;

}


