/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
html{
	scroll-behavior: smooth;
}
body{
	font-size: 16px;
	font-family: 'Arial';
}
/* general */
.gigantic{
	font-size: 40px !important;
}
.notgigantic{
	font-size: 38px !important;
}
.bold{
	font-weight: bold !important;
}
.childpad{
	padding: 0px 25px;
	line-height: 30px;
}
.big {
	font-size: 28px !important;
}
.right{
	padding-right: 20px;
	border-radius: 0px 15px 15px 0px;
}
.left{
	padding-left: 20px;
	border-radius: 15px 0px 0px 15px;
}
.white{
	width: 100%;
	height: 300px;
	border: 2px solid white;
}
.center{
	text-align: center !important;
	line-height: 30px;
}
.lime {
	color: #6dce0e !important;
}
.bold{
	font-weight: bold;
}
.second {
	margin-left: 10px;
}
.decor{
	text-decoration: underline;
	text-decoration-color: #6dce0e;
	text-decoration-thickness: 6px;
}
.hidden{
	overflow: hidden;
}
/* general end */
.wrapper {
	min-height: 100vh;
	max-width: 100%;
	overflow: hidden;
	background-color: #10171f;
	color: white;
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
}
/* Header styles */
.head {
	font-size: 18px;
	padding: 30px 0px;
	background-color: #0d131a;
	color: white;
	flex: 0 1 auto;
	border-bottom: 1px solid #6dce0e;
}
.head__contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.number{
	font-weight: bold;
	display: block;
	color: white;
}
.head__numbers {}
.head__company {}
.head__mail {}
.head__mail a{
	color: white;
}
.head__address {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.head__location {}
.head__button {}
.head__menu {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.head__menu_punct {
	border: 1px solid #6dce0e;
	border-radius: 50px;
	padding: 10px 20px;
}
.head__menu_punct a{
	color: white;
}
.head__navmenu {
	flex: 0 1 60%;
	display: flex;
	justify-content: space-between;
}
.head__socials {
	display: flex;
}
.social__media {
	margin-right: 10px;
}
.menu-btn{
	display: none;
}
.open-button {
  background-color: #9fe831;
  font-size: 17px;
  color: black;
  padding: 15px 14px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 230px;
  border-radius: 40px;
}
/* Всплывающая форма-скрыта по умолчанию */
.form-popup {
	  display: none;
	  position: fixed;
	  right: 20%;
	  border: 3px solid #6dce0e;
	  z-index: 9;
	  border-radius: 15px;
}
/* Добавить стили для контейнера формы */
.form-container {
	  max-width: 100%;
	  padding: 30px 10px;
	  background-color: white;
	 	border-radius: 12px;
}
/* Поля ввода полной ширины */
.form-container input[type=text], .form-container input[type=tel] {
	  width: 100%;
	  padding: 15px;
	  margin: 12px 0px;
	  border: none;
	  background: #f1f1f1;
	  border-radius: 10px;
}
.head .form-container input[type=tel]{
	margin: 12px 0px !important;
}
/* Когда входы получают фокус, сделайте что-нибудь */
.form-container input[type=text]:focus, .form-container input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
}
.b__popup{
	 width:100%;
   height: 2000px;
   background-color: rgba(0,0,0,0.5);
   overflow:hidden;
   position:fixed;
   z-index: 6;
   top:0px;
}
/* Установите стиль для кнопки отправить/войти */
.form-container .btn {
	  background-color: #4CAF50;
	  color: white;
	  padding: 16px 20px;
	  border: none;
	  cursor: pointer;
	  width: 100%;
	  margin-bottom:10px;
	  opacity: 0.8;
	  border-radius: 10px;
}
/* Добавить красный цвет фона для кнопки "Отмена" */
.form-container .cancel {
  	background-color: red;
  	position: absolute;
  	top: 0px;
  	right: 0px;
  	border-radius: 0px 10px 0px 10px;
  	padding: 9px 14px;
  	margin: -3px;
}
/* Добавить некоторые эффекты наведения на кнопки */
.form-container .btn:hover, .open-button:hover {
  	opacity: 1;
}
.form-color {
	color: black;
	padding-right: 20px;
}
/* Header styles end */
/* about Main */
.container{
	width: 80%;
	margin: 0px auto;
}
.about{
	margin-top: 100px;
	margin-bottom: 120px;
}
.title {
	font-size: 34px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 100px;
}
.about__main__block{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.about__title{
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 30px;
	line-height: 30px;
	display: flex;
	justify-content: center;
}
.about__textblock{
	padding: 0px 0px;
	padding-right: 20px;
	flex: 1 1 40%;
}
.about__image{
	text-align: center;
	margin-right: 40px;
	flex: 1 1 35%;
	min-height: 100%;
	border: 1px solid #6dce0e;
	border-radius: 10px;
}
.about__image img {
	width: 100%;
	min-height: 100%;
	border-radius: 10px;
}
.about__button{
	margin-top: 25px;
	text-align: center;
}
.priority{
	padding: 18px;
	border: 1px solid #6dce0e;
	background: white;
	color: black;
	border-radius: 20px;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 15px;
	margin-right: 60px;
	transition: background 0.3s linear;
	text-align: center;
}
.priority:last-child{
	line-height: 35px;
}
.priority:hover{
	color: white;
	background: black;
	border: 1px solid black;
}
.priority:before{
  	content: '✓';
  	position: relative;
  	top: 2px;
}
/* about main end */
/* akif */
.akif__title{
	text-align: center;
	margin-bottom: 10px;
	font-size: 28px;
	font-weight: bold;
}
.akif__descript{
	text-align: justify;
	font-size: 21px;
	padding-left: 20px;
	line-height: 28px;
}
.akif__center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* akif end */
/* why */
.why{
	margin-top: 130px;
}
.why__main__block{
	display: flex;
	align-items: center;
	margin-top: 30px;
	justify-content: space-between;
}
.why__title{
	font-size: 34px;
	font-weight: bold;
	padding-bottom: 30px;
	line-height: 35px;
	text-align: center;
}
.why__blocks{
}
.why__block{
	display: flex;
	margin-bottom: 85px;
}
.why__block:last-child{
	margin-bottom: 30px;
}
.why__image{
	flex: 1 1 40%;
	text-align: center;
	margin-bottom: 25px;
	border: 1px solid #6dce0e;
	border-radius: 10px;
	height: 350px;
}
.why__image img{
	border-radius: 10px;
	object-fit: cover;
	height: 100%;
	width: 100%;
}
.why__textblock{
	font-size: 25px;
	flex: 1 1 60%;
	padding: 40px;
	padding-bottom: 0px;
	text-align: justify;
	display: flex;
	font-weight: 500;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #6dce0e;
	margin: 50px 0px;
	background: white;
	color: black;
}
.why__block img{
	height: 100%;
	width: 100%;
	font-family: serif;
}
.why__bigtext{
	font-size: 64px;
	font-weight: bolder;
	-webkit-text-stroke:2px #6dce0e;
	color: transparent;
	position: relative;
	top: 35%;
	left: 40%;
}
.why__wrapper{
	display: flex;
	justify-content: center;
}
.why__answer{
	background: white;
	border-radius: 40px;
	color: black;
	width: 40%;
	margin-top: 30px;
	padding: 15px;
	font-size: 23px;
	text-align: justify;
	line-height: 29px;
	text-align: center;
}
.why__answer a{
	color: black;
}
.why__answer:after{
 	content: '';
	background-image: url('../img/down-arrow.svg');
	background-size: cover;
	padding-left: 10px;
	margin-left: 10px;
	padding-right: 10px;
	background-repeat: no-repeat
}
/* why end */
/* main */
.main {
	text-align: center;
	margin-top: 140px;
}
.main .container {
	border-radius: 15%;
	padding: 35px;
	padding-top: 60px;
-webkit-box-shadow: 0px 0px 18px 18px rgba(255, 255, 255, 0.4);
-moz-box-shadow: 0px 0px 18px 18px rgba(255, 255, 255, 0.4);
box-shadow: 0px 0px 16px 16px rgba(255, 255, 255, 0.4);
}
.main__general{
	display: flex;
	align-items: center;
}
.main__title{
	width: 90%;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 30px;
	flex: 1 1 50%;
	margin-right: auto;
	margin-left: auto;
	text-align: justify;
}
.first__title{
	padding-bottom: 40px;
	font-size: 40px !important;
}
.main__image{
	flex: 1 1 50%;
	margin-bottom: 30px;
	border-radius: 10px;
	border: 1px solid #6dce0e;
}
.main__image img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
}
.main__button{
}

/* main end */
/*footer*/
.foot{
	border-top: 1px solid #6dce0e;
	display: flex;
	align-items: center;
	background-color: #0d131a;
	color: white;
	flex: 0 1 auto;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 60px;
	font-size: 18px;
}
.foot .number{
	display: inline-block;
}
.foot .container{
	display: flex;
	width: 90%;
	justify-content: space-between;
}
.foot__block{
	padding: 20px;
	margin: 10px;
	flex: 0 1 25%;
}
.foot__logo{
}
.foot__info{
	text-align: justify;
	line-height: 30px;
}
.foot__nav {
}
.foot__menu {
}
.foot__title {
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 25px;
}
.foot__navmenu {
}
.foot__punct{
	padding-bottom: 30px;
}
.foot__punct a{
	color: white;
}
.foot__punct:before {
	content: '';
	background-image: url('../img/right-arrow.svg');
	background-size: cover;
	padding-right: 10px;
	margin-right: 10px;
	padding-left: 10px;
	background-repeat: no-repeat
}
.foot__contacts{
}
.foot__map{
	border: 1px solid #6dce0e;
}
.foot__address{
	padding-bottom: 18px;
	font-size: 16px;
	font-weight: 400;
}
.foot__address:before{
	content: '';
	background-image: url('../img/location.svg');
	background-size: cover;
	padding-right: 13px;
	padding-top: 10px;
	margin-right: 10px;
	padding-left: 10px;
	background-repeat: no-repeat
}
.foot__number{
	padding-bottom: 18px;
}
.foot__number:before{
	content: '';
	background-image: url('../img/phone.svg');
	background-size: cover;
	padding-right: 10px;
	margin-right: 10px;
	padding-left: 10px;
	background-repeat: no-repeat
}
.foot__email {
	padding-bottom: 18px;
}
.foot__email a{
	color: white;

}
.foot__grafik{
	line-height: 25px;
}
.head .foot__grafik{
	margin-top: 5px;
}
.foot__grafik:before{
	content: '';
	background-image: url('../img/time.svg');
	background-size: cover;
	padding-right: 10px;
	margin-right: 10px;
	padding-left: 10px;
	background-repeat: no-repeat
}
.cont {
	flex: 1 1 35%;
}
.foot__email:before{
	content: '';
	background-image: url('../img/email.svg');
	background-size: cover;
	padding-right: 10px;
	margin-right: 10px;
	padding-left: 10px;
	background-repeat: no-repeat
}
/* footer end */
/* review */
.review{
	margin: 150px 0px;
	margin-bottom: 120px;
}
.review .container:before{
	content:'';
	background: url('../img/leftquote.svg');
	padding: 50px 60px;
	background-size: cover;
}
.review .container:after{
	content:'';
	background: url('../img/rightquote.svg');
	padding: 50px 60px;
	position: relative;
	left: 90%;
	background-size: cover;
}
.review__info{
	display: flex;
	padding: 60px 70px;
}
.review__description{
	font-size: 24px;
	margin-top: 20px;
	text-align: center;
	line-height: 30px;
}
.review__image{
	margin-bottom: 20px;
	height: 200px;
	width: 200px;
}
.review__image img{
	object-fit: cover;
	height: 100%;
	width: 100%;
}
/* review end */
/* infoblock */
.infoblock {
	margin-top: 120px;
	background: url('../img/backs.jpg');
	background-repeat: no-repeat;
}
.infoblock__title {
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	line-height: 35px;
	margin-bottom: 35px;
}
.infoblock__table{
	display: flex;
	justify-content: center;
}
table {
	border: 1px solid white;
	border-collapse: collapse;
}
th {
	border: 1px solid white;
	padding: 9px;
}
tr {
	border: 1px solid white;
}
td {
	border: 1px solid white;
	padding: 9px;
}
.infoblock__certificate{
	display: flex;
	margin-top: 30px;
	padding: 0 70px;
	justify-content: center;
}
.infoblock__image {
	margin-top: 20px;
	border: 1px solid #6dce0e;
}
.infoblock__image img{
	width: 100%;
	height: 400px;
}
/* infoblock end */
/* formblock */
.formblock{
	margin: 160px 0px;
}
.formblock .container{
	padding: 50px 30px 50px 0px;
	background-color: white;
	border: 1px solid #6dce0e;
	border-radius: 20px;
	color: black;
}
.formblock__title{
	text-align: center;
	padding-bottom: 40px;
	font-size: 36px;
	color: #6dce0e;
}
.formblock__form{
	padding-left: 210px;
}
.formblock__image{
	width: 350px;
	position: absolute;
	left: 20px;
}
.formblock__image img{
	width: 100%;
	height: 100%;
}
.formblock__block	{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.formblock__input{
	height: 40px;
	border-radius: 10px;
	padding: 15px;
	margin: 5px 0px;
	border: 1px solid black;
}
.formblock__punct{
}
.formblock__btn{
  background-color: #9fe831;
  font-size: 16px;
  color: black;
  padding: 12px 14px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 230px;
  height: 43px;
  border-radius: 15px;
  margin-top: 15px;
}
.formblock__btn:hover{
	opacity: 1;
}
.formblock__label{
}
/* formblock end */
/* company block */
.company{
	margin-top: 150px;
}
.company__main{
	display: flex;
	justify-content: center;
}
.company__textblock{
	flex: 1 1 60%;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}
.company__texts{
	flex: 1 1 auto;
}
.company__title{
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	line-height: 35px;
	margin-bottom: 15px;
}
.company__text{
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
}
.company__button{
	flex: 0 1 auto;
	text-align: center;
	margin-top: 20px;
}
.company__image{
	border: 2px solid #6dce0e;
	border-radius: 20px;
	flex: 1 1 45%;
	height: 400px;
}
.company__image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}
/* company block end */
/* advert */
.advert{
	margin-top: 80px;
}
.advert__title{
	text-align: center;
	font-size: 34px;
	font-weight: bold;
	padding: 0 60px;
}
.advert__main{
	padding: 20px;
}
.advert__block{
	display: flex;
	margin-bottom: 20px;
}
.advert__text{
	font-size: 24px;
	flex: 1 1 auto;
	line-height: 30px;
}
.advert__textimage{
	height: 430px;
	flex: 1 1 46%;
	border-radius: 20px;
	border: 1px solid #6dce0e;
}
.advert__textimage img{
	width: 100%;
	height: 100%;
	border-radius: 20px;
	object-fit: cover;
}
.advert__obr{
	padding-top: 15px;
	font-size: 28px;
}
.advert__image{
	border: 1px solid #6dce0e;
	width: 50%;
	margin: 20px;
	border-radius: 20px;
}
.advert__image img{
	width: 100%;
	border-radius: 20px;
}
.advert__image:last-child{
	margin-right: 0px;
}
.advert__texts{
	flex: 1 1 50%;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
}
.advert__button{
	flex: 0 1 auto;
	text-align: center;
}
.advert__number {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 20px;
	}
.clearfix:before,
.clearfix:after {
	content: " ";
	  /* 1 */
	display: table;
	  /* 2 */
}
.clearfix:after {
  	clear: both;
}
.viz {
	opacity: 1;
	transition: 1s;
}
.bl {
	  margin: 0 15px;
	  padding: 20px;
}
/* advert end */
/* eldar */
.eldar__title{
	text-align: justify;
	font-size: 28px;
	line-height: 35px;
	margin-bottom: 15px;
	padding-top: 15px;
}
.eldar__main{
	display: flex;
	justify-content: center;
	align-items: center;
}
.eldar__textblock{
	flex: 1 1 60%;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}
.eldar__text{
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
}
.eldar__button{
	text-align: center;
	margin-top: 20px;
}
.eldar__image{
	border: 1px solid #6dce0e;
	border-radius: 20px;
	flex: 1 1 45%;
	height: 400px;
}
.eldar__image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}
/* eldar end */
/* teleg */
.teleg {
	margin-top: 270px;
	margin-bottom: 150px;
}
.teleg .container{
	width: 65%;
}
.teleg__main {
	display: flex;
	justify-content: center;
}
.teleg__textblock{
	flex: 1 1 50%;
	display: flex;
	padding: 20px;
	padding-right: 10px;
	border: 1px solid #6dce0e ;
	background: url('../img/image.jpg');
}
.teleg__text{
	font-size: 32px;
	line-height: 35px;
	position: relative;
	top: -210px;
	left: 70px;
}

.teleg .foot__grafik {
	color: black;
}
.teleg__image {
	flex: 1 1 50%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	left: -60px;
	top: 50px;
	z-index: 2;
}
.teleg #myForm {
	width: 100%;
}
.teleg .form-container {
	  min-width: 100% !important;
	  padding: 35px;
	  background-color: white;
	  border-radius: 15px;
	  border: 1.5px solid #6dce0e;
}
/* Поля ввода полной ширины */
.teleg .form-container input[type=text], .form-container input[type=tel] {
	  width: 100%;
	  padding: 15px;
	  margin: 5px 0 5px 0;
	  border: none;
	  background: #f1f1f1;
	  border-radius: 10px;
}
/* Когда входы получают фокус, сделайте что-нибудь */
.teleg .form-container input[type=text]:focus, .form-container input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
}
/* Установите стиль для кнопки отправить/войти */
.teleg .form-container .btn {
	  background-color: #4CAF50;
	  color: white;
	  padding: 16px 20px;
	  border: none;
	  cursor: pointer;
	  width: 100%;
	  margin-bottom:10px;
	  opacity: 0.8;
	  border-radius: 10px;
	  margin-top: 10px;
}
/* Добавить некоторые эффекты наведения на кнопки */
.teleg .form-container .btn:hover, .open-button:hover {
  	opacity: 1;
}
.teleg .form-color {
	color: black;
	font-size: 25px;
	padding-bottom: 10px;
}
.telegform__image{
	width: 250px;
	position: absolute;
	left: 70%;
	top: 80%;
}
.telegform__image img{
	width: 100%;
	height: 100%;
}
/* teleg end */
/* callback */
.callBack {
   position: fixed;
   bottom: 30px;
   right: 20px;
   z-index: 999;
}
.callBack__body {
   position: relative;
}
.callBack__icon {
   width: 50px;
   height: 50px;
   cursor: pointer;
   position: relative;
   z-index: 0;
   transition: 1.3 ease-in-out;
}
.callBack__icon:hover {
   transform: scale(1.1);
}
.callBack__icon::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   height: 100%;
   border: 1px solid #6dce0e;
   border-radius: 50%;
   animation: pulse 1.1s linear infinite;
}
.callBack__icon::after {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   height: 100%;
   border: 1px solid #6dce0e;
   border-radius: 50%;
   animation: pulse 2.1s linear infinite;
}
.callBack__body img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.callBack__phone,
.callBack__whatsApp,
.callBack__mail {
   position: absolute;
   top: 0;
   left: 0;
   width: 30px;
   height: 30px;
   cursor: pointer;
   z-index: 0;
   margin: 10px;
   cursor: pointer;
   z-index: -1;
   transition: all .8s ease;
   display: block;
}
.callBack__phone:hover,
.callBack__whatsApp:hover,
.callBack__mail:hover {
   width: 35px;
   height: 35px;
}
.callBack__phone.active {
   transform: translateY(-70px)
}
.callBack__whatsApp.active {
   transform: translateY(-120px)
}
.callBack__mail.active {
   transform: translateY(-170px)
}

#go-top {
  position: fixed; 
  bottom: 25px; 
  left: 10px; 
  cursor:pointer; 
  display:none;
  width: 50px;
  height: 60px;
  transition: transform 0.3s linear;
}
#go-top img{
	width: 100%;
	height: 100%;
}
#go-top:hover {
	transform: scale(1.1);
}
/* callback end */
/* adaptive tablets */
@media(max-width: 1280px){
.about__title{
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 28px;
	line-height: 28px;
	display: flex;
	justify-content: center;
}
.priority{
	padding: 18px;
	border: 1px solid #6dce0e;
	background: white;
	color: black;
	border-radius: 20px;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px;
	margin-right: 40px;
	transition: background 0.3s linear;
	text-align: center;
}
.priority:last-child{
	line-height: 30px;
}
.priority:hover{
	color: black;
	background: white;
	border: 1px solid #6dce0e;
}
}
@media(max-width: 1024px){
/* general */
.center{
	text-align: center !important;
	line-height: 30px;
}
.childpad{
	padding: 0px 15px;
	line-height: 30px;
}
.big {
	font-size: 24px !important;
}
.gigantic{
	font-size: 30px !important;
}
.notgigantic{
	font-size: 30px !important;
}
/* general end */
.open-button {
  background-color: #9fe831;
  font-size: 16px;
  color: black;
  padding: 12px 14px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 230px;
  border-radius: 40px;
}
/* Всплывающая форма-скрыта по умолчанию */
.form-popup {
	  display: none;
	  position: fixed;
	  right: 10%;
	  left: 10%;
	  border: 3px solid #6dce0e;
	  z-index: 9;
	  border-radius: 15px;
}
/* Header styles end */
/* about Main */
.container{
	width: 95%;
	margin: 0px auto;
}
.about{
	margin-top: 60px;
	margin-bottom: 80px;
}
.title {
	font-size: 28px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}
.about__title{
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 25px;
	line-height: 28px;
	display: flex;
	justify-content: center;
}
.about__textblock{
	padding: 0px 0px;
	padding-right: 0px;
	flex: 1 1 40%;
	margin-left: 10px;
}
.about__image{
	margin-right: 10px;
	flex: 1 1 40%;
	min-height: 100%;
	border: 1px solid #6dce0e;
	border-radius: 10px;
}
.priority{
	padding: 13px;
	border: 1px solid #6dce0e;
	background: white;
	color: black;
	border-radius: 20px;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px;
	margin-right: 40px;
	transition: background 0.3s linear;
	text-align: center;
}
.priority:last-child{
	line-height: 22px;
}
/* about main end */
/* akif */
.akif__title{
	text-align: center;
	margin-bottom: 10px;
	font-size: 27px;
	font-weight: bold;
}
.akif__descript{
	text-align: justify;
	font-size: 20px;
	padding-left: 20px;
	line-height: 28px;
}
/* akif end */
/* why */
.why{
	margin-top: 100px;
}
.why__main__block{
	display: flex;
	align-items: center;
	margin-top: 30px;
	justify-content: space-between;
}
.why__title{
	font-size: 28px;
	font-weight: bold;
	padding-bottom: 30px;
	line-height: 30px;
	text-align: center;
}
.why__blocks{
}
.why__block{
	display: flex;
	margin-bottom: 35px;
}
.why__block:last-child{
	margin-bottom: 20px;
}
.why__image{
	flex: 1 1 40%;
	text-align: center;
	margin-bottom: 25px;
	border: 1px solid #6dce0e;
	border-radius: 10px;
	height: 350px;
}
.why__textblock{
	font-size: 22px;
	flex: 1 1 60%;
	padding: 40px;
	padding-bottom: 0px;
	text-align: justify;
	display: flex;
	font-weight: 500;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #6dce0e;
	margin: 50px 0px;
	background: white;
	color: black;
}
.why__block img{
	height: 100%;
	width: 100%;
	font-family: serif;
}
.why__bigtext{
	font-size: 56px;
	font-weight: bolder;
	-webkit-text-stroke:2px #6dce0e;
	color: transparent;
	position: relative;
	top: 30%;
	left: 15%;
}
.why__wrapper{
	display: flex;
	justify-content: center;
}
.why__answer{
	background: white;
	border-radius:20px;
	color: black;
	width: 55%;
	margin-top: 20px;
	padding: 15px 23px 15px 15px;
	font-size: 23px;
	text-align: justify;
	line-height: 29px;
	text-align: center;
}
.why__answer:after{
 	content: '';
	background-image: url('../img/down-arrow.svg');
	background-size: cover;
	padding-left: 10px;
	margin-left: 3px;
	padding-right: 10px;
	background-repeat: no-repeat
}
/* why end */
/* main */
.main {
	text-align: center;
	margin: 120px 0px;
}
.main .container {
	border-radius: 5%;
	padding: 50px 20px;
-webkit-box-shadow: 0px 0px 18px 18px rgba(255, 255, 255, 0.4);
-moz-box-shadow: 0px 0px 18px 18px rgba(255, 255, 255, 0.4);
box-shadow: 0px 0px 16px 16px rgba(255, 255, 255, 0.4);
}
.main__general{
	display: flex;
	align-items: center;
}
.main__title{
	width: 90%;
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 20px;
	flex: 1 1 50%;
	margin-right: auto;
	margin-left: auto;
	text-align: justify;
}

.first__title{
	padding-bottom: 20px;
	font-size: 33px !important;
}
.main__image{
	flex: 1 1 50%;
	margin-bottom: 30px;
	border-radius: 10px;
	border: 1px solid #6dce0e;
}
.main__image img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
}
.main__button{
}
/* main end */
/*footer*/
.foot{
	border-top: 1px solid #6dce0e;
	display: flex;
	align-items: center;
	background-color: #0d131a;
	color: white;
	flex: 0 1 auto;
	padding-top: 30px;
	padding-bottom: 10px;
	margin-top: 60px;
	font-size: 18px;
}
.foot .number{
	display: inline-block;
}
.foot .container{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
}
.foot__block{
	padding: 10px 10px 10px 15px;
	margin: 10px 0px;
	flex: 0 1 26%;
}
.cont {
	flex: 0 1 30%;
}
.foot__block:last-child{
	flex: 0 1 100%;
}
.foot__block:last-child iframe{
	width: 100%;
}
.foot__logo{
}
.foot__info{
	text-align: justify;
	line-height: 30px;
}
.foot__nav {
}
.foot__menu {
}
.foot__title {
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 25px;
}
.foot__navmenu {
}
.foot__punct{
	padding-bottom: 30px;
}
.foot__punct a{
	color: white;
}
.foot__punct:before {
	content: '';
	background-image: url('../img/right-arrow.svg');
	background-size: cover;
	padding-right: 10px;
	margin-right: 10px;
	padding-left: 10px;
	background-repeat: no-repeat
}
.foot__contacts{
}
.foot__map{
	border: none;
}
.foot__address{
	padding-bottom: 18px;
	font-size: 16px;
	font-weight: 400;
}
.foot__address:before{
	content: '';
	background-image: url('../img/location.svg');
	background-size: cover;
	padding-right: 13px;
	padding-top: 10px;
	margin-right: 10px;
	padding-left: 10px;
	background-repeat: no-repeat
}
.foot__number{
	padding-bottom: 18px;
}
.foot__number:before{
	content: '';
	background-image: url('../img/phone.svg');
	background-size: cover;
	padding-right: 10px;
	margin-right: 10px;
	padding-left: 10px;
	background-repeat: no-repeat
}
.foot__email a{
	color: white;
}
.foot__email:before{
	content: '';
	background-image: url('../img/email.svg');
	background-size: cover;
	padding-right: 10px;
	margin-right: 10px;
	padding-left: 10px;
	background-repeat: no-repeat
}
/* footer end */
/* review */
.review{
	margin: 80px 0px;
	margin-bottom: 70px;
}
.review .container:before{
	content:'';
	background: url('../img/leftquote.svg');
	padding: 25px 35px;
	background-size: cover;
}
.review .container:after{
	content:'';
	background: url('../img/rightquote.svg');
	padding: 25px 35px;
	position: relative;
	left: 90%;
	background-size: cover;
}
.review__info{
	display: flex;
	padding: 15px 50px;
}
.review__description{
	font-size: 20px;
	margin-top: 20px;
	text-align: center;
	line-height: 26px;
}
.review__image{
	margin-bottom: 20px;
	height: 200px;
	width: 200px;
}
.review__image img{
	object-fit: cover;
	height: 100%;
	width: 100%;
}
/* review end */
/* infoblock */
.infoblock {
	margin-top: 120px;
	background: none;
}
.infoblock__title {
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	line-height: 35px;
	margin-bottom: 35px;
}
.infoblock__table{
	display: flex;
	justify-content: center;
}
table {
	border: 1px solid white;
	border-collapse: collapse;
}
th {
	border: 1px solid white;
	padding: 9px;
}
tr {
	border: 1px solid white;
}
td {
	border: 1px solid white;
	padding: 9px;
}
.infoblock__certificate{
	display: flex;
	margin-top: 30px;
	padding: 0 10px;
	justify-content: center;
}
.infoblock__image {
	margin-top: 20px;
	border: 1px solid #6dce0e;
	flex: 1 1 50%;
}
.infoblock__image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* infoblock end */
/* formblock */
.formblock{
	margin: 160px 0px;
}
.formblock .container{
	padding: 50px 20px;
	background-color: white;
	border: 1px solid #6dce0e;
	border-radius: 20px;
	color: black;
}
.formblock__title{
	text-align: center;
	padding-bottom: 40px;
	font-size: 30px;
	color: #6dce0e;
}
.formblock__form{
	padding-left: 0px;
}
.formblock__image{
	width: 250px;
	position: absolute;
	left: 20px;
	margin-top: 250px;
}
.formblock__image img{
	width: 100%;
	height: 100%;
}
.formblock__block	{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.formblock__input{
	height: 40px;
	border-radius: 10px;
	padding: 15px;
	margin: 5px 10px;
	border: 1px solid black;
}
.formblock__punct{
}
.formblock__btn{
  background-color: #9fe831;
  font-size: 16px;
  color: black;
  padding: 8px 8px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 230px;
  height: auto;
  border-radius: 15px;
  margin-top: 15px;
}
.formblock__btn:hover{
	opacity: 1;
}
.formblock__label{
}
/* formblock end */
/* company block */
.company{
	margin-top: 150px;
}
.company__main{
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
}
.company__textblock{
	flex: 1 1 60%;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}
.company__texts{
	flex: 1 1 auto;
}
.company__title{
	text-align: center;
	font-weight: bold;
	font-size: 26px;
	line-height: 35px;
	margin-bottom: 15px;
}
.company__text{
	font-size: 20px;
	line-height: 27px;
	text-align: justify;
}
.company__button{
	flex: 0 1 auto;
	text-align: center;
	margin-top: 20px;
}
.company__image{
	border: 2px solid #6dce0e;
	border-radius: 20px;
	flex: 1 1 45%;
	height: 400px;
	margin-bottom: 20px;
}
/* company block end */
/* advert */
.advert{
	margin-top: 80px;
}
.advert__title{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 0 20px;
	margin-bottom: 20px;
}
.advert__main{
	padding: 5px;
}
.advert__block{
	display: flex;
	margin-bottom: 20px;
}
.advert__text{
	font-size: 20px;
	flex: 1 1 auto;
	line-height: 30px;
}
.advert__textimage{
	height: 400px;
	flex: 1 1 46%;
	border-radius: 20px;
	border: 1px solid #6dce0e;
}
.advert__textimage img{
	width: 100%;
	height: 100%;
	border-radius: 20px;
	object-fit: cover;
}
.advert__obr{
	padding-top: 15px;
	font-size: 22px;
}
.advert__image{
	border: 1px solid #6dce0e;
	width: 50%;
	margin: 20px;
	border-radius: 20px;
}
.advert__image:last-child{
	margin-right: 0px;
}
.advert__texts{
	flex: 1 1 50%;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
}
.advert__button{
	flex: 0 1 auto;
	text-align: center;
}
.advert__number {
	font-size: 1.7em;
	font-weight: bold;
	margin-bottom: 10px;
	}
.bl {
	  margin: 0 5px;
	  margin-bottom: 10px;
	  padding: 10px;
}
/* advert end */
/* eldar */
.eldar__title{
	text-align: justify;
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 15px;
	padding-top: 15px;
}
.eldar__main{
	display: flex;
	justify-content: center;
	align-items: center;
}
.eldar__textblock{
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}
.eldar__image{
	border: 2px solid #6dce0e;
	border-radius: 20px;
	flex: 1 1 55%;
	height: 400px;
}
/* eldar end */
/* teleg */
.teleg {
	margin-top: 270px;
	margin-bottom: 150px;
}
.teleg .container{
	width: 100%;
	padding: 0 20px;
}
.teleg__main {
	display: flex;
	justify-content: center;
}
.teleg__textblock{
	flex: 1 1 50%;
	display: flex;
	padding: 20px;
	padding-right: 10px;
	border: 1px solid #6dce0e ;
	background: url('../img/image.jpg');
}
.teleg__text{
	font-size: 30px;
	line-height: 33px;
	position: relative;
	top: -200px;
	left: 70px;
}
.teleg__image {
	flex: 1 1 50%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	left: -60px;
	top: 50px;
	z-index: 2;
}
.telegform__image{
	width: 250px;
	position: absolute;
	left: 70%;
	top: 80%;
}
}
/* adaptive tablets end */
/* adaptive mobile*/
@media(max-width: 767px){
	/* general */
	.gigantic{
	font-size: 35px !important;
	}
	.notgigantic{
		font-size: 30px !important;
	}
	.center{
	text-align: center !important;
	line-height: 30px;
	}
	.big{
		font-size: 23px !important;
	}
	.childpad{
		padding: 0px;
		text-align: center;
		line-height: 30px
	}
	/* general end */
		.menu-btn {
		width: 30px;
		height: 30px;
		position: relative;
		z-index:1000;
		overflow: hidden;
		display: block;
	}
	.menu-btn span {
		width: 30px;
		height: 4px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		transition: all 0.5s;
	}
	.menu-btn span:nth-of-type(2) {
		top: calc(50% - 10px);
	}
	.menu-btn span:nth-of-type(3) {
		top: calc(50% + 10px);
	}
	.menu {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 999;
		padding:90px 15px 15px 15px;
	  background: #1d2938;
		transform: translateX(-100%);
		transition: transform 0.5s; 
	}
	.menu.activemenu {
		transform: translateX(0);
	}
	.menu li {
		list-style-type: none;
	}
	.menu-btn.activemenu span:nth-of-type(1) {
  display: none;
	}
	.menu-btn.activemenu span:nth-of-type(2) {
	  top: 50%;
	  transform: translate(-50%, 0%) rotate(45deg);  
	}
	.menu-btn.activemenu span:nth-of-type(3) {
	  top: 50%;
	  transform: translate(-50%, 0%) rotate(-45deg); 
	}
	.head {
	font-size: 18px;
	padding: 25px 0px;
	background-color: #0d131a;
	color: white;
	flex: 0 1 auto;
	border-bottom: 1px solid #6dce0e;
	}
	.head .container{
		display: flex;
		justify-content: space-between;
		padding: 0px 25px 0px 10px;
	}
.head__contact {
	margin-bottom: 0px;
	}
.number{
	font-weight: bold;
	display: block;
	color: white;
}
.head__numbers {
	display: none;
}
.head__company {

}
.head__mail {
	display: none;
}
.head__mail a{
	color: white;
}
.head__address {
	display: none;
	justify-content: space-between;
	align-items: center;
}
.head__location {}
.head__button {
	display: none;
}
.head__menu {
	margin-top: 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.head__menu_punct {
	border: none;
	border-radius: 0px;
	padding: 20px 20px;
}
.head__menu_punct a{
	color: white;
}
.head__navmenu {
	display: block;
}
.head__socials {
	display: none;
}
.social__media {
	margin-right: 10px;
}
.open-button {
  background-color: #9fe831;
  font-size: 17px;
  color: black;
  padding: 15px 14px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
 /* position: fixed;
  bottom: 23px;
  right: 28px;*/
  width: 230px;
  border-radius: 40px;
}
/* Header styles end */
/* about Main */
.container{
	width: 100%;
	margin: 0px auto;
}
.about{
	margin-top: 40px;
	margin-bottom: 120px;
}
.title {
	text-align: center;
	font-weight: bold;
	margin-bottom: 30px;
	padding: 0px 5px;
}
.about__main__block{
	display: block;
	margin: 0px auto;
	text-align: center
}
.about__title{
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 24px;
	line-height: 26px;
	display: flex;
	justify-content: center;
}
.about__textblock{
	padding: 0px 15px;
}
.about__image{
	text-align: center;
	min-height: 100%;
	margin: 0px 10px;
	border: 1px solid #6dce0e;
	border-radius: 10px;
}
.about__image img {
	width: 100%;
	min-height: 100%;
	border-radius: 10px;
}
.priority{
	padding: 18px 13px;
	border: 1px solid #6dce0e;
	background: white;
	color: black;
	border-radius: 20px;
	font-size: 20px;
	margin-bottom: 15px;
	margin-right: 0px;
	transition: none;
	text-align: center;
}
.priority:hover{
	color: black;
	background: white;;
	border: 1px solid #6dce0e;
}
/* akif */
.akif__title{
	text-align: center;
	margin-bottom: 10px;
	font-size: 23px;
	font-weight: bold;
}
.akif__descript{
	text-align: justify;
	font-size: 20px;
	padding-left: 0px;
	line-height: 28px;
}
/* akif end */
/* why */
.why{
	margin-top: 80px;
}
.why__title{
	font-size: 23px;
	font-weight: bold;
	padding-bottom: 10px;
	line-height: 27px;
	text-align: center;
}
.why__block{
	display: block;
	margin-bottom: 85px;
	padding: 0px 10px;
}
.why__block:last-child{
	margin-bottom: 30px;
}
.why__image{
	flex: 1 1 40%;
	text-align: center;
	margin-bottom: 0px;
	border: 1px solid #6dce0e;
	border-radius: 10px;
	height: 350px;
	display: none;
}
.why__textblock{
	font-size: 21px;
	padding: 40px;
	padding-bottom: 0px;
	text-align: left;
	display: block;
	font-weight: 500;
	border: 1px solid #6dce0e;
	margin: 10px 0px;
	background: white;
	color: black;
}
.why__block img{
	height: 100%;
	width: 100%;
	font-family: serif;
}
.why__bigtext{
	font-size: 50px;
	font-weight: bolder;
	-webkit-text-stroke:2px #6dce0e;
	color: transparent;
	position: relative;
	top: 27px;
	left: 0px;
}
.why__wrapper{
	display: flex;
	justify-content: center;
}
.why__answer{
	background: white;
	border-radius: 20px;
	color: black;
	width: 90%;
	margin-top: 25px;
	padding: 15px 18px 15px 15px;
	font-size: 21px;
	text-align: justify;
	line-height: 27px;
	text-align: center;
}
.why__answer:after{
 	content: '';
	background-image: url('../img/down-arrow.svg');
	background-size: cover;
	padding-left: 10px;
	margin-left: 5px;
	padding-right: 10px;
	background-repeat: no-repeat
}
/* why end */
/* main */
.main {
	text-align: center;
	margin-top: 110px;
	margin-bottom: 40px;
}
.first__title{
	padding-bottom: 20px;
	font-size: 30px !important;
}
.main .container {
	border-radius: 15px;
	padding: 20px 10px;
	padding-top: 40px;
-webkit-box-shadow: 0px 0px 18px 18px rgba(255, 255, 255, 0.4);
-moz-box-shadow: 0px 0px 18px 18px rgba(255, 255, 255, 0.4);
box-shadow: 0px 0px 16px 16px rgba(255, 255, 255, 0.4);
}
.main__general{
	display: block;
}
.main__title{
	width: 100%;
	font-size: 20px;
	font-weight: 400;
	margin: 0px auto 20px;
	text-align: justify;
}
.main__general:nth-child(3){
	display: flex;
	flex-direction: column-reverse;
}
.main__general:nth-child(5){
		display: flex;
	flex-direction: column-reverse;
}
.main__general:nth-child(7){
		display: flex;
	flex-direction: column-reverse;
}
.main__image{
	margin-bottom: 30px;
	border-radius: 10px;
	border: 1px solid #6dce0e;
	order: 0;
}
.main__image img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
}
.main .right{
	padding-right: 0px;
}
.main .left{
	padding-left: 0px;
}
.main__button{
}
/* main end */
/*footer*/
.foot{
	border-top: 1px solid #6dce0e;
	display: flex;
	align-items: center;
	background-color: #0d131a;
	color: white;
	flex: 0 1 auto;
	padding: 30px 0px 10px 0px;
	margin-top: 60px;
	font-size: 18px;
}
.foot .number{
	display: inline-block;
}
.foot .container{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}
.foot__block{
	padding: 0px;
	margin: 10px;
	flex: 0 1 100%;
	margin-bottom: 20px;
}
.foot__logo{
}
.foot__info{
	text-align: justify;
	line-height: 30px;
}
.foot__nav {
}
.foot__menu {
}
.foot__title {
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 25px;
}
.foot__navmenu {
}
.foot__punct{
	padding-bottom: 30px;
}
.foot__punct:last-child{
	padding-bottom: 20px;
}
.foot__punct a{
	color: white;
}
.foot__punct:before {
	content: '';
	background-image: url('../img/right-arrow.svg');
	background-size: cover;
	padding-right: 10px;
	margin-right: 10px;
	padding-left: 10px;
	background-repeat: no-repeat

}
.foot__contacts{
}
.foot__map{
	border: none;
	margin: 0px auto;
}
.foot__address{
	padding-bottom: 18px;
	font-size: 16px;
	font-weight: 400;
}
.foot__address:before{
	content: '';
	background-image: url('../img/location.svg');
	background-size: cover;
	padding-right: 13px;
	padding-top: 10px;
	margin-right: 10px;
	padding-left: 10px;
	background-repeat: no-repeat
}
.foot__number{
	padding-bottom: 18px;
}
.foot__number:before{
	content: '';
	background-image: url('../img/phone.svg');
	background-size: cover;
	padding-right: 10px;
	margin-right: 10px;
	padding-left: 10px;
	background-repeat: no-repeat
}
.foot__email a{
	color: white;
}
.cont {
	flex: 1 1 35%;
}
.foot__email:before{
	content: '';
	background-image: url('../img/email.svg');
	background-size: cover;
	padding-right: 10px;
	margin-right: 10px;
	padding-left: 10px;
	background-repeat: no-repeat
}
/* footer end */
/* review */
.review{
	margin: 90px 0px;
}
.review .container:before{
	content:'';
	background: url('../img/leftquote.svg');
	padding: 15px 25px;
	background-size: cover;
}
.review .container:after{
	content:'';
	background: url('../img/rightquote.svg');
	padding: 15px 25px;
	position: relative;
	left: 80%;
	top: -10px;
	background-size: cover;
}
.review__info{
	display: flex;
	padding: 20px 10px;
}
.review__description{
	font-size: 20px;
	margin-top: 20px;
	text-align: center;
	line-height: 26px;
}
.review__image{
	margin-bottom: 20px;
	height: 200px;
	width: 200px;
}
/* review end */
/* infoblock */
.infoblock {
	margin-top: 100px;
	background: none;
}
.infoblock__title {
	text-align: center;
	font-weight: bold;
	font-size: 28px !important;
	line-height: 28px;
	margin-bottom: 25px;
}
.infoblock__table{
	display: flex;
	justify-content: center;
	padding: 0px 10px;
}
table {
	border: 1px solid white;
	border-collapse: collapse;
	font-size: 13.5px;
}
th {
	border: 1px solid white;
	padding: 6px;
}
tr {
	border: 1px solid white;
}
td {
	border: 1px solid white;
	padding: 6px;
}
.infoblock__certificate{
	display: block;
	margin-top: 30px;
	padding: 0 15px;
}
.infoblock__image {
	margin-top: 20px;
	border: 1px solid #6dce0e;
}
.infoblock__image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.second {
	margin-left: 10px;
}
/* infoblock end */
/* formblock */
.formblock{
	margin: 130px 0px;
}
.formblock .container{
	padding: 30px 20px;
	background-color: white;
	border: 1px solid #6dce0e;
	border-radius: 20px;
	color: black;
}
.formblock__title{
	text-align: center;
	padding-bottom: 20px;
	font-size: 30px;
	color: #6dce0e;
}
.formblock__form{
	padding-left: 0px;
}
.formblock__image{
	width: 210px;
	position: absolute;
	left:-35px;
	margin-bottom: 0px;
	margin-top: 111%;
}
.formblock__image img{
	width: 100%;
	height: 100%;
}
.formblock__block	{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.formblock__input{
	height: 40px;
	border-radius: 10px;
	padding: 15px;
	margin: 5px 0px;
	border: 1px solid black;
}
.formblock__punct{
	margin-bottom: 20px;
}
.formblock__btn{
  background-color: #9fe831;
  font-size: 16px;
  color: black;
  padding: 12px 14px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 230px;
  height: 43px;
  border-radius: 15px;
  margin-top: 15px;
}
.formblock__btn:hover{
	opacity: 1;
}
.formblock__label{

}
/* formblock end */
/* company block */
.company{
	margin-top: 110px;
}
.company__main{
	display: flex;
	flex-direction: column-reverse;
}
.company__textblock{
	display: flex;
	flex-direction: column;
	padding: 0 10px;
}
.company__texts{
	flex: 1 1 auto;
}
.company__title{
	text-align: center;
	font-weight: bold;
	font-size: 26px;
	line-height: 32px;
	margin-bottom: 15px;
}
.company__text{
	font-size: 20px;
	line-height: 26px;
	text-align: justify;
}
.company__button{
	flex: 0 1 auto;
	text-align: center;
	margin-top: 20px;
}
.company__image{
	border: 1px solid #6dce0e;
	border-radius: 20px;
	height: 240px;
	margin: 10px 5px;
	margin-bottom: 20px;
}
/* company block end */
/* advert */
.advert{
	margin-top: 80px;
}
.advert__title{
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	padding: 0 10px;
	margin-bottom: 0px;
}
.advert__main{
	padding: 0px;
}
.advert__block{
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 20px;
}
.advert__text{
	font-size: 20px;
	flex: 1 1 auto;
	line-height: 26px;
}
.advert__textimage{
	border-radius: 20px;
	border: 1px solid #6dce0e;
	margin: 20px 0px;
}
.advert__obr{
	padding-top: 15px;
	font-size: 22px;
	text-align: center
}
.advert__image{
	border: 1px solid #6dce0e;
	width: auto;
	margin: 10px 0px;
	border-radius: 20px;
}
.advert__image:last-child{
	margin-right: 0px;
}
.advert__texts{
	padding: 0px;
	display: flex;
	flex-direction: column;
}
.advert__button{
	flex: 0 1 auto;
	text-align: center;
}
.advert__number {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 20px;
	}
.bl {
	  margin: 20px 15px;
	  padding: 10px;
}
/* advert end */
/* eldar */
.eldar__title{
	text-align: justify;
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 15px;
	padding-top: 15px;
}
.eldar__main{
	display: block;
}
.eldar__textblock{
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}
.eldar__text{
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
}
.eldar__image{
	border: 2px solid #6dce0e;
	border-radius: 20px;
	height: 350px;
	margin: 0px 10px;
}
/* eldar end */
/* teleg */
.teleg {
	margin-top: 270px;
	margin-bottom: 70px;
}
.teleg .container{
	width: 100%;
	padding: 0px;
}
.teleg__main {
	display: block;
	justify-content: center;
}
.teleg__textblock{
	display: flex;
	padding: 20px;
	padding-right: 10px;
	border: 1px solid #6dce0e;
	height: 400px;
	background: url('../img/image.jpg');
	background-size: cover;
}
.teleg__text{
	font-size: 30px;
	line-height: 33px;
	position: relative;
	top: -150px;
	left: 0px;
}
.teleg__image {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	left: 0px;
	padding: 0px 10px;
	top: -70px;
	z-index: 2;
}
/* Добавить некоторые эффекты наведения на кнопки */
.telegform__image{
	width: 200px;
	position: absolute;
	left: 58%;
	top: 84%;
}
/* teleg end */
.company:last-child{
	margin-top: 70px;
}
}
@media(max-width: 320px){
.why__bigtext{
	font-size: 42px;
	top: 20px;
}
.formblock__image{
	width: 170px;
	position: absolute;
	left:-35px;
	margin-bottom: 0px;
	margin-top: 420px;
}
.formblock__form{
	padding-left: 0px;
}
.teleg__image {
	left: 0px;
	padding: 0px 10px;
	top: -70px;
}
.telegform__image{
	left: 50%;
	top: 84%;
}
}
/* adaptive end */